<h1>Novo Carro</h1>

<div class="well">
    <form #formCar="ngForm">
        <div class="form-group">
            <label for="name">Nome:</label>
            <input type="text" class="form-control" id="name" name="name" 
            [(ngModel)]="car.name"
            #name="ngModel"
            minlength="2" required>
            <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
                <div [hidden]="!name.errors['required']" >Digite o nome do veículo.</div>
                <div [hidden]="!name.errors['minlength']">O nome deve conter ao menos 2 caracteres.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="description">Descrição:</label>
            <input type="text" class="form-control" id="description" name="description"
            [(ngModel)]="car.description"
            #description="ngModel"
            minlength="2" required>
            <div *ngIf="description.errors && (description.dirty || description.touched)" class="alert alert-danger">
                <div [hidden]="!description.errors['required']">Digite a descrição do veículo.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="dailyRate">Valor/Dia:</label>
            <input type="text" class="form-control" id="dailyRate" name="dailyRate"
            [(ngModel)]="car.dailyRate"
            #dailyRate="ngModel"
            minlength="2" ui-percentage-mask required>
            <div *ngIf="dailyRate.errors && (dailyRate.dirty || dailyRate.touched)" class="alert alert-danger">
                <div [hidden]="!dailyRate.errors['required']">Digite a descrição do veículo.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="avaliable">Disponível:</label>
            <input type="text" class="form-control" id="avaliable" name="avaliable"
            [(ngModel)]="car.avaliable"
            #avaliable="ngModel"
            minlength="2" required>
            <div *ngIf="avaliable.errors && (avaliable.dirty || avaliable.touched)" class="alert alert-danger">
                <div [hidden]="!avaliable.errors['required']">Digite a descrição do veículo.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="licensePlate">Placa:</label>
            <input type="text" class="form-control" id="licensePlate" name="licensePlate"
            [(ngModel)]="car.licensePlate"
            #licensePlate="ngModel"
            minlength="2" required>
            <div *ngIf="licensePlate.errors && (licensePlate.dirty || licensePlate.touched)" class="alert alert-danger">
                <div [hidden]="!licensePlate.errors['required']">Digite a descrição do veículo.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="avaliable">Cor:</label>
            <input type="text" class="form-control" id="color" name="color"
            [(ngModel)]="car.color"
            #color="ngModel"
            minlength="2" required>
            <div *ngIf="color.errors && (color.dirty || color.touched)" class="alert alert-danger">
                <div [hidden]="!color.errors['required']">Digite a descrição do veículo.</div>
            </div>
        </div>
        <div class="form-group">
            <button *ngIf="!car.id" 
            type="button" class="btn btn-primary"
            (click)="insertCar()"
            [disabled]="!formCar.form.valid">
                <i class="fa fa-save" aria-hidden="true"></i>
                Salvar
            </button>
            <button *ngIf="car.id"
            type="button" class="btn btn-primary"
            (click)="update()"
            [disabled]="!formCar.form.valid">
                <i class="fa fa-save" aria-hidden="true"></i>
                Atualizar
            </button>
            <a class="btn btn-secondary" [routerLink]="['/cars']">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                Voltar
            </a>
        </div>
    </form>
</div>