<h1 class="text-center">Novo Carro</h1>

<div class="well">
    <form #formCar="ngForm" class="container">
        <div class="row">
            <div class="form-group input-holder col">
                <label class="input-label" for="name">Nome:</label>
                <input type="text" class="form-control" id="name" name="name" 
                [(ngModel)]="car.name"
                #name="ngModel" required>
                <div *ngIf="name.errors && (name.dirty || name.touched)" class="error-message alert-danger">
                    <div [hidden]="!name.errors['required']" >Digite o nome do veículo.</div>
                    <div [hidden]="!name.errors['minlength']">O nome deve conter ao menos 2 caracteres.</div>
                </div>
            </div>
            <div class="form-group input-holder col">
                <label class="input-label" for="brand">Marca:</label>
                <select class="form-select col" aria-label="Default select example">
                    <option selected>Selecione a Marca</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="form-group input-holder col">
                <label class="input-label" for="available">Cor:</label>
                <input type="text" class="form-control" id="color" name="color"
                [(ngModel)]="car.color"
                #color="ngModel" required>
                <div *ngIf="color.errors && (color.dirty || color.touched)" class="error-message alert-danger">
                    <div [hidden]="!color.errors['required']">Digite a cor do veículo.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group input-holder">
                <label class="input-label" for="description">Descrição:</label>
                <input type="text" class="form-control" id="description" name="description"
                [(ngModel)]="car.description"
                #description="ngModel" required>
                <div *ngIf="description.errors && (description.dirty || description.touched)" class="error-message alert-danger">
                    <div [hidden]="!description.errors['required']">Digite a descrição do veículo.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group input-holder col">
                <label class="input-label" for="dailyRate">Valor/Dia:</label>
                <input type="text" class="form-control" id="dailyRate" name="dailyRate"
                [(ngModel)]="car.dailyRate"
                #dailyRate="ngModel"
                mask="0*.00" required>
                <div *ngIf="dailyRate.errors && (dailyRate.dirty || dailyRate.touched)" class="error-message alert-danger">
                    <div [hidden]="!dailyRate.errors['required']">Digite o valor diário de aluguel do carro.</div>
                </div>
            </div>
            <div class="form-group input-holder col-3">
                <label class="input-label" for="available">Disponível:</label>
                <div class="radio-holder">
                    <div class="radio-option">
                        <input type="radio" class="radio-input form-check-input" id="available" name="available"
                        [(ngModel)]="car.available" [value]="true" required #available="ngModel">
                        <span>Sim</span>
                    </div>
                    <div class="radio-option">
                        <input type="radio" class="radio-input form-check-input" id="available" name="available"
                        [(ngModel)]="car.available" [value]="false" required><span>Não</span>
                    </div>
                </div>
                <div class="error-message alert-danger" *ngIf="available.errors?.['required'] && (available.dirty || available.touched)">
                    Selecione uma opção.
                </div>
            </div>
            <div class="form-group input-holder col">
                <label class="input-label" for="licensePlate">Placa:</label>
                <input type="text" class="form-control" id="licensePlate" name="licensePlate"
                [(ngModel)]="car.licensePlate"
                #licensePlate="ngModel" required>
                <div *ngIf="licensePlate.errors && (licensePlate.dirty)" class="error-message alert-danger">
                    <div [hidden]="!licensePlate.errors['required']">Digite a placa do veículo.</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button *ngIf="!car.id" 
            type="button" class="buttons-form btn btn-primary"
            (click)="insertCar()"
            [disabled]="!formCar.form.valid">
                <i class="fa fa-save" aria-hidden="true"></i>
                Salvar
            </button>
            <button *ngIf="car.id"
            type="button" class="buttons-form btn btn-primary"
            (click)="update()"
            [disabled]="!formCar.form.valid">
                <i class="fa fa-save" aria-hidden="true"></i>
                Atualizar
            </button>
            <a class="buttons-form btn btn-secondary" [routerLink]="['/cars']">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                Voltar
            </a>
        </div>
    </form>
</div>